<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>星光之家十一抽奖活动</title>
    <script src="index.ts"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <!--<script src="assets/lib/auth/index.js"></script>-->
    <!--<script src="assets/lib/jqueryRotate/index.js"></script>-->

</head>
<body style="overflow-x:hidden;position: relative;">
<div class="page-award-home" id="page-award-home">
    <img class="bg" src="./assets/img/page.jpg"/>
    <a class="readme" dom-readme>攻略</a>
    <span class="times" dom-times>0</span>
    <a href="gain.html" class="gain" dom-gain>赚</a>
    <a href="plan.html" class="plan" dom-plan>计划</a>
    <a href="tel:13801995822‬" class="tel" dom-tel>133</a>
    <a class="message" dom-message>留言</a>
    <a class="logout" dom-logout>退出</a>
    <a class="award" dom-award href="quan.html">我的奖品</a>
    <img class="point" dom-point src="assets/img/pointer.png"/>
    <img class="rotate" dom-rotate src="assets/img/turntable.png"/>
    <img class="gift" dom-gift src="assets/img/liwu.png">
</div>
<div class="page-award-login" id="page-award-login">
    <img class="bg" src="assets/img/login.jpg"/>
    <input class="phone" placeholder="请输入手机号" dom-phone type="text" />
    <input class="code" placeholder="请输入验证码" dom-code type="text" />
    <div class="send" dom-send>发送验证码</div>
    <div class="submit" dom-submit>马上抽奖</div>
</div>
<div class="page-award-readme" id="page-award-readme">
    <img class="bg" src="assets/img/page-read-me-bg.png"/>
    <div class="close" dom-close>关闭</div>
    <div class="invite" dom-invite>邀请</div>
</div>
<div class="page-award-quan" id="page-award-quan">
    <img class="bg" dom-bg="./assets/img/award/page-award-quan{{angles}}.png" src="assets/img/page-award-quan80.png"/>
    <div class="close" dom-close>关闭</div>
    <div class="again" dom-again>再抽一次</div>
    <div class="use" dom-use>马上使用</div>
</div>
<div class="page-award-message" id="page-award-message">
    <textarea dom-message class="message"></textarea>
    <br />
    <button type="button" class="btn" dom-submit>提交</button>
</div>
<div class="page-award-arrow" id="page-award-arrow">
    <img src="./assets/img/arrow.png" alt="">
</div>
<div class="page-award-intercept" id="page-award-intercept">
    <p dom-tip>提示信息</p>
</div>
<div class="page-award-loading" id="page-award-loading">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span>星光之家</span>
</div>
</body>
</html>
